@import '../styles/colors.css';

.home-footer {
    padding: 24px 48px;
    color: var(--color-text-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    /* Removed fixed positioning */
    position: fixed; 
    bottom: 0px; 
    z-index: 5;
}


