@import './styles/colors.css';

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    /* overflow-y: auto; */
    background-color: var(--color-bg-primary);
    font-family: Inter, sans-serif;
    --top: rgba(97,106,115,.12);
    --bottom: transparent;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* height: 300vh; */
}

@font-face {
  font-family: 'New Spirit';
  src: url('fonts/New-Spirit-Regular.woff2') format('woff2'),
       url('fonts/New-Spirit-Regular.woff') format('woff'),
       url('fonts/New-Spirit-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Remove or comment out the following if you don't have these files:
@font-face {
  font-family: 'ITC Garamond Condensed';
  src: url('fonts/itc-garamond-std-book-condensed-bold.woff2') format('woff2'),
       url('fonts/itc-garamond-std-book-condensed-bold.woff') format('woff'),
       url('fonts/itc-garamond-std-book-condensed-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'ITC Garamond Condensed';
  src: url('fonts/itc-garamond-std-book-condensed-medium.woff2') format('woff2'),
       url('fonts/itc-garamond-std-book-condensed-medium.woff') format('woff'),
       url('fonts/itc-garamond-std-book-condensed-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*/

::selection {
  /* background-color: rgb(249 224 133) !important; */
  /* background-color: #9696e4 !important;
  color: var(--color-text-primary); */
  background-color: rgb(158, 203, 229) !important;
  color: rgb(16, 17, 24);
}

.vsc-controller, .vsc-controller #controller {
  display: none !important;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.gradient {
  position: absolute;
  width: 100vw;
  /* height: 832px; */
  height: 70vh;
  left: 0px;
  top: 0px;
}


.gradient.home {
  /* background: linear-gradient(180deg, rgba(97, 160, 255, 0.2) 0%, rgba(16, 16, 16, 0) 100%); */
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(44.78deg, var(--color-grad-cyan-green) -5.94%, var(--color-grad-cyan-blue) 62.87%);
}

.gradient {
  /* background: linear-gradient(180deg, rgba(148, 56, 156, 0.3) 0%, rgba(16, 16, 16, 0) 100%); */
  /* background: linear-gradient(180deg, rgba(131, 103, 167, 0.3) 0%, rgba(16, 16, 16, 0) 80%); */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #101010 100%),  */
              /* linear-gradient(90deg, rgba(69, 94, 181, 0.2) 16%, rgba(86, 67, 204, 0.2) 48%, rgba(103, 63, 215, 0.2) 72%); */
            /* linear-gradient(90deg, rgba(69, 94, 181, 0.2) 9%, rgba(86, 67, 204, 0.2) 44%, rgba(103, 63, 213, 0.2) 71%); */
        /* Gradient */
}
  
.gradient.projects {
  /* background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(89.42deg, var(--color-grad-blue-1) 16.15%, var(--color-grad-blue-2) 47.6%, var(--color-grad-blue-3) 72.31%); */
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(44.78deg, rgb(67 169 255 / 30%) -5.94%, rgb(95 169 255 / 30%) 62.87%);
  pointer-events: none;
}

.gradient.experiences {
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(270deg, var(--color-grad-teal) 0%, var(--color-grad-blue-dark) 100%);
  pointer-events: none;
  /* position: absolute; */
  /* z-index: -1; */
}

.gradient.contact {
  /* background: linear-gradient(180deg, rgba(40, 12, 100, 0.3) 0%, rgba(16, 16, 16, 0) 100%); */
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(90deg, var(--color-grad-green) 0%, var(--color-grad-green-dark) 100%);

  pointer-events: none;
  /* position: absolute;
  z-index: -1; */
}

.gradient.photos {
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(135deg, var(--color-grad-pink) 0%, var(--color-grad-blue-cyan) 100%);
  background: linear-gradient(180deg, var(--color-shadow-transparent) 0%, var(--color-bg-primary) 100%), linear-gradient(135deg, var(--color-grad-blue-cyan-alt) 0%, var(--color-grad-blue-cyan) 100%);
  z-index: 10;
}

.gradient.experiences + h1, .gradient.contact + h1, .gradient.projects + h1, .gradient.photos + h1 {
  /* text-transform: uppercase; */
  font-size: 80px;
  font-weight: 800;
  /* position: absolute; */
  width: 100%;
  padding-top: 100px;
  margin: auto;
  z-index: -100;
  color: var(--color-bg-white);
}

.credits
{
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: var(--color-bg-white);
  text-align: right;
  font-family: 'Roboto', sans-serif;
}

.credits a
{
  color: inherit;
}

.about, .experiences, .projects, .contact {
  padding-top: 100px;
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  /* overflow-y: auto; */
}


.experiences-container {
  /* height: 200vh !important; */
  max-width: 720px;
  margin: 50px auto 50px; 
  margin-bottom: 400px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.last-section-header {
  marign-bottom: 0px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-title {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}